*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* body, html {
  height: 100%;
} */

#prueba{
  width: 100vw;
  height: 100vh;
  background-image: url("./img/fondoHome.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.fondoHome{
  height: 100%;
  width: 100%;
  background: url(./img/fondosuperior.svg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navegacion{
  padding: 10px 0px;
  font-size: calc(0.8em + 0.3vw);
}

.navegacion li{
  margin-left: 30px;
}

.navegacion li a{
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(235, 235, 235) !important;
  text-shadow: 2px 2px 8px #49436D;

}

.navegacion li a:hover{
  color: rgb(255, 255, 255) !important;
}

.calltoaction{
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.titulo{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: calc(2.3rem + 1vw);
}

.subtitulo{
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: calc(0.8rem + 0.5vw);
}
.descargar img{
  margin: 20px auto;
  width: 80%;
}

/* ------------------------------------ Acerca de ----------------------------*/

.acercade{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background: url(./img/fondoacerca.svg) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.pantalla{
  display: flex;
  justify-content: center;
}

.pantalla img{
  width: 60%;
  height: 100%;
}

.acerca{
  display: flex;
  flex-flow: column !important;
  text-align: right;
}

.acerca p{
  padding-top: 20px !important;
  font-family: 'Lato', sans-serif;
  font-weight: 400 !important;
  font-size: calc(0.8rem + 0.4vw) !important;
}

/* -------------------------------------- Beneficios ------------------------------------ */

.beneficios{
  width: 100vw;
  height: 100vh;
  background: url(./img/fondobeneficios.svg) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.benefi{
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
}

.bf img{
  width: 30%;
}

.bf{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 40px;
}

.bf h3{
  padding: 10px 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: #1D3750;
  font-size: calc(1rem + 0.8vw);
}

.bf p{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #1D3750;
  font-size: calc(0.8rem + 0.4vw);
}

/* -------------------------------------- Testimonio --------------------------------------- */
.testimonio{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./img/fondoTestimonio.svg) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.testi{
  display: flex;
  align-items: center;
}

.mateo{
  padding-top: 0;
  width: 50%;
}

.mateo img{
  width: 100%;
  padding-right: 10px;
}

.mensaje{
  display: flex;
  flex-flow: row;
  padding-right: 20px;
}

.mensaje h2{
  font-size: calc(2rem + 1vw);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: white;
}

.mensaje h4{
  font-size: calc(0.8rem + 0.8vw);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: white;
}

.mensaje p{
  font-size: calc(0.8rem + 0.3vw);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
}

.mockup img{
  width: 90%;
  padding-left: 40px;
}

/* ----------------------- Ultimo Call to action ---------------------------------- */
.obtener{
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  background: url(./img/descargaYa.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.descarga{
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.obtener .descarga h2{
  font-family: 'Josefin Sans', sans-serif ;
  font-weight: 700;
  font-size: calc(2rem + 1vw);
  color: white;
  padding-bottom: 20px;
}

.descarga img{
  width: 80%;
}

/* --------------------------------------- Pie de Pagina --------------------------*/

.pie{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50vh;
  background: url(./img/footer.svg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.pie .ayuda h3, h2{
  font-family: 'Josefin Sans', sans-serif;
  color: #1D3750;
  font-size: calc(1rem + 1vw);
  margin: 0;
}

.pie .ayuda h2{
  font-weight: 700;
}

.pie .ayuda p{
  padding: 15px 0;
  font-family: 'Lato', sans-serif;
  font-size: calc(0.8rem + 0.3vw);
  color: #1D3750;
}

.pie .ayuda a{
  color: #1D3750;
}

.links{
  font-family: 'Lato', sans-serif;
  color: #1D3750;
}

.links h4{
  font-weight: 700;
  font-size: calc(1rem + 1vw);
}

.links li{
  padding: 5px 0;
}

.links a{
  color: #1D3750;
  font-size: calc(0.7rem + 0.3vw);
}

.interes{
  display: flex;
  flex-flow: row;
}

.interes .enlaces{
  padding-right: 50px;
}

.derechos{
  color: #1D3750;
  font-size: calc(0.6rem + 0.3vw);
}
